page-feed {

    h2.feed_title {
        color: red;
        font-weight: bold;
        /* font-stretch: condensed; */
    }


    p.feed_date {
        color: #A7B93F;
        font-weight: bold;
    }
}
